# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env
.env.*
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Byte-compiled / build
*.pyc
*.pyo
__pycache__/

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# SQLAlchemy/Alembic
alembic/versions/*.pyc

# IDE / OS
*.swp
Thumbs.db
.DS_Store